<p>Salut {{name}},</p>
<p>Esti invitat sa te inregistrezi pe aceasta aplicatie pentru a participa la
  proiectul
  {{projectName}}.</p>
<p>Link-ul este valabil pentru urmatoarele 24 de ore sau pana este consumat la
  creerea contului.</p>
<p>
  <a href='{{url}}'>{{projectName}}</a>
</p>
<p>O zi frumoasa!</p>
<br>
<hr>
<br>
<p>Hey {{nameInEnglish}},</p>
<p>You are invited to register to this application in order to participate at
  this project
  {{projectName}}.</p>
<p>The link is active for the next 24 hours or until it is consumed by the
  creation of your account.</p>
<p>
  <a href='{{url}}'>{{projectName}}</a>
</p>
<p>Have a great day!</p>