<p>Salut {{name}},</p>
<p>Gasesti mai jos invitatia la proiectul {{projectName}}.</p>
<p>Link-ul este valabil pentru urmatoarele 24 de ore.</p>
<p>
  <a href='{{url}}'>{{projectName}}</a>
</p>
<p>O zi frumoasa!</p>
<br>
<hr>
<br>
<p>Hey {{name}},</p>
<p>Please find bellow the invitation for the project {{projectName}}.</p>
<p>The link is active for the next 24 hours.</p>
<p>
  <a href='{{url}}'>{{projectName}}</a>
</p>
<p>Have a great day!</p>